
.p1 {
  border: 3px solid blue;
    color: red;
    background:yellow;
    }

.p2 {
    width: 300px;
    height: 40px;
     }

.p3 {
  font-family:  ;
  font-size: ;
  font-weight: bold;

  text-align: ;
  height:;
  width:  ;

  margin:2%;
  padding:inherit;

  border-radius:  ;
  text-shadow:  ;

  display:   ;
  position:  ;
}

.image1{

  weight:;
  height:;
  float:;
  box-shadow: ;
  border: ;
  border-radius: ;
  margin: ;
  padding-left: ;

}

.text {
  color:rgba(100,230,105,1);
  background-color: yellow;

  font-size: 30px;
  font-family: courier;
  font-weight: bold;
  font-style: italic;


  border: 2px solid red;
  box-shadow: 10px 5px 10px purple;
  width: 400px;
  height: 60px;

  margin-left: 30%;
  padding: 2% 4%;
  text-align: center;
  text-shadow: 20px 15px 10px purple;

}

.image2 {
   float:left;
   width:40%;
   margin: 4%;
   border: 2px solid red;
   border-radius: 10px;
   box-shadow: 10px 5px 10px purple;
   filter:grayscale(10);

}

 .image3{
   width:40%;
   margin: 4%;
   border: 2px solid purple;
   border-radius: 10px;
   box-shadow: 10px 5px 10px red;
   filter: contrast(30);

 }


 .image4{
   width:40%;
   margin: 4%;
   border: 2px solid purple;
   border-radius: 10px;
   box-shadow: 10px 5px 10px red;
   filter: blur(1px);

 }

 .image5{
   width:40%;
   margin: 4%;
   border: 2px solid purple;
   border-radius: 10px;
   box-shadow: 10px 5px 10px red;
   filter: brightness(2);

 }

 .imageblock{
    border: 2px solid lightblue;
    width:100%;
 }
